:host {
    display: flex;
    justify-content: center;
    margin: 5em;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

hr {
    background: white;
}

a {
    width: 100%;
    color: white;
    background-color: blue;
}

.csdocs-card {
    max-width: 350px;
}

.csdocs-header-image {
    background-image: url('../../assets/image/CSDocs.png');
    background-size: cover;
}

.csdocs-skin {
    background-color: rgba(2, 2, 2, 0.404);
    max-width: 40%;
    color: rgb(240, 255, 255);
    text-align: justify;
    padding: 5em;
    margin-right: 5px;
}

.csdocs-skin-body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-weight: bolder;
    font-size: 40px;
}

p {
    line-height: 20px;
    font-size: 20px;
    text-align: justify;
}

img {
    max-width: 350px;
    max-height: 260px;
}