<div class="container">
    <!-- cabecera del diálogo -->
    <div class="modal-header">
        <h1 class="modal-title" mat-dialog-title>
            <mat-icon>verified</mat-icon>Admin. Preferent</h1>
        <button mat-dialog-close>X</button>
    </div>
    <!-- cuerpo del diálogo -->
    <div class="class modal-body">
        <mat-tab-group animationDuration="2000ms">
            <mat-tab label="DNS">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Actual</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Nueva</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                        </div>
                        <button>Cambiar Ip</button>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="MQ">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Actual</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Nueva</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                        </div>
                        <button>Cambiar Ip</button>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="LDAP">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Actual</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Nueva</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                        </div>
                        <button>Cambiar Ip</button>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="MySQL">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Actual</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                            <div class="col-sm col-sm-3">
                                <div class="form-group">
                                    <label class="form-control-label">IP Nueva</label>
                                    <input type="text" placeholder="IP">
                                </div>
                            </div>
                        </div>
                        <button>Cambiar Ip</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>